<div class="login-status-header">

    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info" >
        Heureux de vous revoir {{ userFullName}}!
    </div>

    <!-- bouton de connexion -->
    <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn" >Se connecter</button>

    <button *ngIf="isAuthenticated" (click)="logout()" class="security-btn" >Se deconnecter</button>

    <button *ngIf="isAuthenticated" routerLink="/members" class="security-btn ml-1" >Membre</button>

    <button *ngIf="isAuthenticated" routerLink="/order-history" class="security-btn ml-1" >Commandes</button>

</div>