<div class="main-content" >
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">

        <!-- loop over the collection of products -->
        <div *ngFor="let tempProduct of products" class="col-md-3">

          <div class="product-box">    

            <a routerLink="/products/{{ tempProduct.id }}" >
              <img src="{{ tempProduct.imageUrl }}" class="img-responsive" alt="">
            </a>

            <a routerLink="/products/{{ tempProduct.id }}" >
               <h1>{{ tempProduct.name }}</h1>
            </a>            
           
            <div class="price">{{ tempProduct.unitPrice | currency:'EUR'}}</div>
            <a href="#" class="primary-btn" >Ajouter au panier</a>
          </div>
        </div>

        <!-- if productsempty then display a message -->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert" >
          Pas de produit trouvé
        </div>


      </div>
    </div>
  </div>
</div>  